altgraph==0.17
asgiref==3.2.3
cx-Freeze==6.1
cycler==0.10.0
decorator==4.4.0
Django==3.0.3
future==0.18.2
imageio==2.5.0
importlib-metadata==3.7.3
joblib==0.13.2
keyboard==0.13.4
kiwisolver==1.1.0
mahotas==1.4.5
matplotlib==3.1.0
MouseInfo==0.1.2
networkx==2.3
numpy==1.16.4
opencv-python==4.1.0.25
pefile==2019.4.18
Pillow==6.0.0
PyAutoGUI==0.9.48
PyGetWindow==0.0.8
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
PyMsgBox==1.0.7
pyparsing==2.4.0
pyperclip==1.7.0
PyRect==0.1.4
PyScreeze==0.1.25
python-dateutil==2.8.0
PyTweening==1.0.3
pytz==2019.3
PyWavelets==1.0.3
pywin32==227
pywin32-ctypes==0.2.0
scikit-image==0.15.0
scikit-learn==0.21.2
scipy==1.3.0
six==1.12.0
sqlparse==0.3.0
typing-extensions==3.7.4.3
zipp==3.4.1
